.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

header,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: white;
}

header ul,footer ul{
    list-style: none;
    display: flex;
    margin-top:16px;
}

header ul li,footer ul li{
    padding-top: 20px;
    padding-bottom: 20px;
}

header ul li a,footer ul li a,#_rs a{
    color: white;
    padding: 20px;
}

header ul li a:focus,header ul li a:hover,footer ul li a:focus,footer ul li a:hover,#_rs a:focus,#_rs a:hover{
    color: white;
    text-decoration: none;
    background-color: #E0E0E020;
}

footer{
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 80.2vh;
}

main table td {
    padding: 8px;
}

main input[type="button"]{
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 5px;
}

main input[type="button"]:hover{
    cursor: pointer;
}

footer{
    justify-content: center;
}

#_rs{
    padding-right: 40px;
}

#__dev{
    position: absolute;
    right: 40px;
}
#__dev a{
    color: white;
}

.Quotes{
    display: none;
    width: 600px;
    padding: 10px;
}

.Quotes .item{
    border: 1px solid #00000005;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 4px 0px #0000005e;
}
.Quotes .item .bodyQuote{
    text-align: center;
    padding: 40px;
}

.Quotes .item .footerQuote{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.Quotes .item .footerQuote img.authorImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.Quotes .item .footerQuote .authorName {
    margin-left: 8px;
}



.lds-ellipsis {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: black;
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }